absl-py
aiohttp
asgiref
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
attrs
blinker==1.4
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools
certifi==2021.10.8
cffi
chardet
charset-normalizer
click==8.0.3
coverage
cryptography
Cython
Django
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py==2.10.0
idna
importlib-metadata
Keras
Keras-Applications
Keras-Preprocessing
Markdown
multidict
numexpr
numpy
oauthlib
olefile
opt-einsum
pandas
Pillow==8.4.0
protobuf==3.17.2
pyasn1
pyasn1-modules==0.2.8
pycparser
PyJWT
pyOpenSSL
pyreadline==2.1
PySocks
python-dateutil
pytz==2021.3
PyYAML==6.0
requests
requests-oauthlib==1.3.0
rsa
scipy
six
sqlparse
tensorboard
tensorboard-plugin-wit==1.6.0.post3
tensorflow-cpu==2.3.0
tensorflow-estimator
termcolor==1.1.0
typing-extensions
urllib3==1.26.7
Werkzeug
win-inet-pton
wincertstore==0.2
wrapt==1.12.1
yarl
zipp 
gunicorn==20.1.0
